@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "./Variables/Variables.scss";


.App {
  	margin: 0 auto;
	max-width: 1440px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 100vh;
  	font-family: Montserrat;
	display: flex;
	flex-direction: column;
  
  
}

*, ::after, ::before {
	margin: 0;
	box-sizing: border-box;
	padding: 0;

	:focus-visible {
		border: 2px #FF6060;
	}
}
