@import "../../Variables/Variables.scss";

.toggleDiv {
	background: #F6F6F6;
	border-radius: 5px;
	margin-top: 15px;
	height: fit-content;

	&__title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;
		padding: 0 10px;
		font-weight: 500;
		color: #fff;
		height: 35px;
		background: $primary;
	}

	&__arrow {
		width: 15px;
	}

	&__content {
		padding: 15px 15px;
		color: $primary;
		transition: all 0.5s ease;
		font-weight: 400;
		line-height: 1.5;
	}

	.open {
		max-height: fit-content;
	}

	.closed {
		max-height: 0px;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background: #fff;
	}
}

.bigFont {
	font-size: 12px;
}

.smallFont {
	font-size: 12px;
}


@media screen and(min-width: 768px) {
	
	.toggleDiv {
		margin-top: 20px;
		width: 100%;
	}

	.bigFont {
		font-size: 24px;
	}
	
}