@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.header__pic {
	position: relative;
	width: 100%;
	height: 111px;
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: #fff;
	font-family: Montserrat;
	font-size: 22px;
	line-height: 1;
	overflow: hidden;
}

.header__pic-overlay {
	position: absolute;
	background-color: #000; 
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0.2;
	border-radius: 10px;

	:focus-visible {
		border: 2px #FF6060;
	}
}

.header__pic img {
	border-radius: 10px;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.picAnim {
	animation: picAnim 40s infinite;
}

@keyframes picAnim {
	0% {
		transform: scale(1) translateX(0);
	}
	25% {
		transform: scale(1.1) translateX(20px);
	}
	50% {
		transform: scale(1.2) translateX(70px);
	}
	100% {
		transform: scale(1) translateX(0);
	}
}

.header__pic p {
	z-index: 10000;
	margin-left: 20px;

}


@media screen and(min-width: 768px) {
	.header__pic {
		height: 223px;
		flex-direction: row;
		align-items: center;
		border-radius: 25px;

		p {
			font-size: 40px;
		}

		img {
			border-radius: 25px;
		}

		&-overlay {
			border-radius: 25px;
		}
	}
}